



<p>id : <%=@post.id %></p>
<p>title : <%=@post.title %></p>
<p>id : <%=@post.id %></p>
<p>dt : <%=@post.created_at %></p>
<a class="" href="/posts/destroy/<%=@post.id%>">삭제</a>
<a class="" href="/posts/edit/<%=@post.id%>">수정</a>